html, body {
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
  /* width: 100%; */
  background-color: #0a0f1e;
  color: #48d1cc;
  font-family: 'Montserrat', sans-serif;
  overflow: scroll;
}

/* Wrapper com largura fixa centralizada */
.home-wrapper {
  /* max-width: 1200px; */
  /* margin: 0 auto; CENTRALIZA horizontalmente */
  justify-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
}

/* Cabeçalho normal, ocupando largura total do wrapper */
header {
  width: 100%;
  background: linear-gradient(135deg, #0f1628 30%, #48d1cc 100%);
  display: block;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  margin-bottom: 30px;
}

/* Campo de busca */
#buscarInput {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

#buscar {
  width: 300px;
  padding: 15px;
  border: 3px solid #48d1cc;
  border-radius: 25px;
  background-color: rgba(10, 15, 30, 0.8);
  color: #48d1cc;
  outline: none;
  font-size: 16px;
}

#buscar:focus {
  border-color: #66ffe8;
  box-shadow: 0 0 12px rgba(102, 255, 232, 0.7);
}

/* Botões */
button {
  padding: 14px 30px;
  border: 1px black;
  background-color: #48d1cc;
  color: #0a0f1e;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #66ffe8;
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(72, 209, 204, 0.5);
}

/* Tabela centralizada e com rolagem para muitos itens */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #0f1628;
  border-radius: 12px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
}

.table thead {
  background: linear-gradient(135deg, #48d1cc 100%, #0a0f1e 100%);
  color: #0a0f1e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.table th, .table td {
  padding: 18px 20px;
  text-align: left;
  border-bottom: 1px solid #48d1cc;
}

.table tbody tr:hover {
  background-color: rgba(21, 35, 56, 0.9);
}
